body{
    background: rgba(1, 1, 1, 1.0);
    background: linear-gradient(315deg, rgba(1, 1, 1, 1.0), rgba(6, 118, 43, 1.0));
}
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section {
    max-width: 300px;
    margin: 20px;
    text-align: center;
}

img {
    max-width: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
    
}

h2 {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
}

p {
    font-size: 16px;
    color: white;
    margin-bottom: 5px;
}
